Package: com.shiftcmdk.jbsetup
Name: jbsetup
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: A setup UI to change the root and mobile password after jailbreaking.
Maintainer: shiftcmdk
Author: shiftcmdk
Section: Tweaks
